:root {
    background-color: #ecf5ff;
    font-size: 60%;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  h1 {
    text-align: center; 
    font-size: 5.4rem;
    color: #56a5eb;
    margin-bottom: 5rem
  }
  
  #question{
    text-align: center; 
    font-size: 2rem;
    color: #56a5eb;
    margin-bottom: 2rem
  }
  
  #timer{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  /*  BUTTONS */
  #startButton,
  #viewScores{
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
  }
  
  #startButton:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  #viewScores:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  } 
  
  
  